Repository this-is-this-team/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier, eslint, jest

.lintstagedrc.json:

{
    "*.ts": [
      "prettier",
      "eslint",
      "jest"
    ],
    "*.html": [
      "eslint",
      "prettier"
    ],
    "*.scss": "eslint"
  }

chore: add eslintignore
  .eslintignore
Due: none

refactor: remove comments in pre-commit
  .husky/pre-commit
Due: none

ci: change lint-stage and eslintignore
  .eslintignore
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.json
Due: none

refactor: remove ignore path from prettier scripts
  package.json
Due: none

style: apply prettier rules to PR templates
  .github/PULL_REQUEST_TEMPLATE/pull_request_template_for_mentor.md
  .github/pull_request_template.md
Due: none

ci: change lint-staged commands
  .lintstagedrc
Due: none

docs: update README file (add description, technology stack, scripts, getting started info)
  README.md
Due: none

feat: new favicon
  src/assets/favicon.png
  src/assets/rsschool-test.jpg
  src/assets/rsschool-test.png
  src/assets/rsschool-test.svg
Due: none

chore: add new fonts
  src/assets/fonts/montserrat-regular.woff
  src/assets/fonts/montserrat-regular.woff2
  src/styles/base/_fonts.scss
Due: eslint

chore: add new variables
  src/styles/base/_variables.scss
Due: eslint

chore: add common styles
  src/styles/index.scss
Due: eslint

feat: install sdk package
  package-lock.json
  package.json
Due: none

chore: install node-fetch package
  package-lock.json
  package.json
Due: none

chore: set up DotEnv-Webpack
  package-lock.json
  package.json
  webpack.config.js
Due: none

chore: update tsconfig
  tsconfig.json
Due: none

feat: create CommerceTools client
  src/components/api/BuildClient.ts
Due: prettier, eslint, jest

refactor: replace BuildClient file
  src/services/BuildClient.ts
Due: prettier, eslint, jest

refactor: rename BuildClient file to apiRoot
  src/services/apiRoot.ts
Due: prettier, eslint, jest

feat: add base-component
  src/components/base-component.ts
Due: prettier, eslint, jest

chore: add new color variables
  src/styles/base/_variables.scss
Due: eslint

feat: add getElement method to BaseComponent class
  src/components/base-component.ts
Due: prettier, eslint, jest

feat: add class Button
  src/components/button/button.scss
  src/components/button/button.ts
Due: prettier, eslint, jest

feat: add class Link
  src/components/link/link.scss
  src/components/link/link.ts
Due: prettier, eslint, jest

feat: add class InputField
  src/components/input/input.scss
  src/components/input/input.ts
Due: prettier, eslint, jest

feat: implement sign up form
  src/assets/icons/link-arrow.svg
  src/assets/img/signup-page.png
  src/components/form/form.scss
  src/components/form/signup-form.ts
Due: prettier, eslint, jest

feat: implement class Breadcrumbs
  src/components/breadcrumbs/breadcrumbs.scss
  src/components/breadcrumbs/breadcrumbs.ts
Due: prettier, eslint, jest

feat: implement class Banner
  src/components/banner/banner.scss
  src/components/banner/banner.ts
Due: prettier, eslint, jest

chore: update scss variables
  src/styles/base/_variables.scss
Due: eslint

chore: links css classes divide into modifiers
  src/components/link/link.scss
Due: eslint

chore: change css styles for banner component
  src/components/banner/banner.scss
  src/components/button/button.scss
Due: eslint

fix: implement HTMLElement type conversion in BaseComponent
  src/components/banner/banner.ts
  src/components/base-component.ts
  src/components/breadcrumbs/breadcrumbs.ts
  src/components/button/button.ts
  src/components/form/signup-form.ts
  src/components/input/input.ts
  src/components/link/link.ts
Due: prettier, eslint, jest

chore: add bg image for banner
  src/assets/img/discover-world.png
Due: none

feat: implement signup page
  src/components/pages/signup-page/signup-page.scss
  src/components/pages/signup-page/signup-page.ts
  src/index.ts
Due: prettier, eslint, jest

chore: change arrow margin-left in link
  src/components/link/link.scss
Due: eslint

chore: change margin-bottom for section on mobile
  src/components/pages/signup-page/signup-page.scss
Due: eslint

chore: add color-secondary variable dependening on opacity value in Figma
  src/components/form/form.scss
  src/components/link/link.scss
  src/styles/base/_variables.scss
Due: eslint

feat: implement show/hide password functionality
  src/assets/icons/visibility-off.svg
  src/assets/icons/visibility.svg
  src/components/input/input.scss
  src/components/input/input.ts
Due: prettier, eslint, jest

feat: implement validate for input
  src/components/form/signup-form.ts
  src/components/input/input.scss
  src/components/input/input.ts
  src/constants/formValidationRules.ts
Due: prettier, eslint, jest

feat: add method getElement to BaseComponent
  src/components/base-component.ts
Due: prettier, eslint, jest

feat: create list of nav menu pages
  src/components/header/header-nav/menu-items.ts
  src/types/types.ts
Due: prettier, eslint, jest
